{% extends 'base.html' %}
{% block content %}
<ul>
    <li>
        <h1>{{ project.title }}</h1>
        <h1>{{ project.owner }}</h1>
        <h1>{{ project.description }}</h1>
        <h1>funding goal = ${{ project.funding_goal }}</h1>
        <h2>created on = {{ project.created_at }}</h2>
        <h2>ends on = {{ project.end_at }}</h2>
    </li>
</ul>
<a href="{% url 'project_rewards' id=project.pk%}">Add reward</a>
{% for rewards in reward %}
    <li>{{ rewards.reward }}</li>
    <li>{{ rewards.description }}</li>
    <li>{{ rewards.level }}</li>
{% endfor %}

<form action="{% url 'project_show' id=project.pk %}">
    {% csrf_token %}
    {{ rewards_form.as_p }}
</form>
{% endblock%}